<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id11413010.circle.app" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.id11413010.circle.app.HomeScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.id11413010.circle.app.Event"
            android:label="@string/title_activity_events" >
        </activity>
        <activity
            android:name="com.id11413010.circle.app.Money"
            android:label="@string/title_activity_money" >
        </activity>
        <activity
            android:name="com.id11413010.circle.app.Competition"
            android:label="@string/title_activity_competition" >
        </activity>
        <activity
            android:name="com.id11413010.circle.app.Voting"
            android:label="@string/title_activity_voting" >
        </activity>
        <activity
            android:name="com.id11413010.circle.app.friends.Friend_List"
            android:label="@string/title_activity_friend" >
        </activity>
        <activity
            android:name="com.id11413010.circle.app.Leaderboard"
            android:label="@string/title_activity_leaderboard" >
        </activity>
        <activity
            android:name="com.id11413010.circle.app.Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.id11413010.circle.app.Register"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
