<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id11413010.circle.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".home.HomeScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".events.Events"
            android:label="@string/title_activity_events"
            android:parentActivityName=".home.HomeScreen"
            android:theme="@style/Theme.Event" >
        </activity>
        <activity
            android:name=".voting.Voting"
            android:label="@string/title_activity_voting"
            android:parentActivityName=".home.HomeScreen"
            android:theme="@style/Theme.Voting" >
        </activity>
        <activity
            android:name=".friends.Friends"
            android:label="@string/title_activity_friend"
            android:parentActivityName=".home.HomeScreen"
            android:theme="@style/Theme.Friends" >
        </activity>
        <activity
            android:name=".leaderboards.LeaderboardView"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".leaderboards.LeaderboardHome"
            android:theme="@style/Theme.Leaderboard" >
        </activity>
        <activity
            android:name=".registration.Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".login.Login" >
        </activity>
        <activity
            android:name=".events.EventAdd"
            android:label="@string/title_activity_event__add"
            android:parentActivityName=".events.Events"
            android:theme="@style/Theme.Event" >
        </activity>
        <activity
            android:name=".moneySplit.MoneySplit"
            android:label="@string/title_activity_money__split__bill"
            android:parentActivityName=".home.HomeScreen"
            android:theme="@style/Theme.Moneycalc" >
        </activity>
        <activity
            android:name=".login.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".voting.VotingAdd"
            android:label="@string/title_activity_voting_add"
            android:parentActivityName=".voting.Voting"
            android:theme="@style/Theme.Voting" >
        </activity>
        <activity
            android:name=".leaderboards.LeaderboardAdd"
            android:label="@string/title_activity_leaderboard_add"
            android:parentActivityName=".leaderboards.LeaderboardHome"
            android:theme="@style/Theme.Leaderboard" >
        </activity>
        <activity
            android:name=".voting.VotingAddQuestion"
            android:label="@string/title_activity_voting_add_question"
            android:theme="@style/Theme.Voting" >
        </activity>
        <activity
            android:name=".moneyOwing.MoneyOwingAdd"
            android:label="@string/title_activity_money_owing_add"
            android:parentActivityName=".moneyOwing.MoneyOwing"
            android:theme="@style/Theme.Money" >
        </activity>
        <activity
            android:name=".voting.VotingView"
            android:label="@string/title_activity_voting_view"
            android:parentActivityName=".voting.Voting"
            android:theme="@style/Theme.Voting" >
        </activity>
        <activity
            android:name=".moneyOwing.MoneyOwing"
            android:label="@string/title_activity_money_owing"
            android:parentActivityName=".home.HomeScreen"
            android:theme="@style/Theme.Money" >
        </activity>
        <activity
            android:name=".leaderboards.LeaderboardHome"
            android:label="@string/title_activity_leaderboard_home"
            android:parentActivityName=".home.HomeScreen"
            android:theme="@style/Theme.Leaderboard" >
        </activity>
        <service
            android:name=".network.NetworkCheck"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
